@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
    --color-black: #161616;
    --color-main-bg: #161616;
    --color-white: #ffffff;
    --color-dark-brown: #710014;
    --color-mid-brown: #b38f6f;
    --color-light-brown: #b38f6f;
    --color-red-brown: #710014;
    --color-yellow-brown: #b38f6f;
    --color-milk-yellow: #f2f1ed;
    --color-red: #710014;
    --color-milk: #f2f1ed;
    --font-sans: "Cormorant Garamond", serif;
    --font-paragraph: "Plus Jakarta Sans", sans-serif;
    --breakpoint-xs: 375px;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #161616;
    color: #161616;
    font-family: "Cormorant Garamond", serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}

body::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}


@layer utilities {
    .flex-center {
        @apply flex justify-center items-center;
    }

    .col-center {
        @apply flex flex-col justify-center items-center;
    }

    .abs-center {
        @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
    }

    .general-title {
        @apply 2xl:text-[8.5rem] md:text-8xl text-3xl sm:text-4xl font-bold uppercase md:leading-[9vw] leading-[1.2] tracking-[-.35vw] text-center;
    }
}

@layer components {
    .paragraph-line {
        @apply text-nowrap overflow-hidden;
    }

    .hero-container {
        @apply relative bg-milk w-full h-dvh overflow-hidden;

        .hero-content {
            @apply relative z-10 w-full h-full flex flex-col 2xl:justify-center items-center translate-y-10 2xl:pt-0 md:pt-32 pt-20;

            .hero-title {
                @apply text-dark-brown text-center w-full 2xl:text-[8.5rem] md:text-[6.5rem] text-[2.2rem] xs:text-[2.6rem] sm:text-5xl font-bold uppercase md:leading-[9vw] leading-[1.2] tracking-[-.35vw] 2xl:mb-0 mb-1;
            }

            .hero-text-scroll {
                clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
            }

            .hero-text-scroll {
                @apply rotate-[-4deg] mb-8 border-[.52vw] border-milk w-fit max-w-[90vw] mx-auto;

                .hero-subtitle {
                    @apply bg-mid-brown flex justify-center items-center text-center w-full;
                }

                h1 {
                    @apply uppercase text-center w-full 2xl:text-[8.5rem] md:text-[6.5rem] text-[2.2rem] xs:text-[2.6rem] sm:text-5xl font-bold text-[#fce1cd] md:leading-[9vw] leading-[1.2] tracking-[-.35vw] 2xl:px-[1.2vw] px-4 2xl:pb-[1vw] pb-3 2xl:py-0 py-2;
                }
            }

            h2 {
                @apply font-paragraph text-dark-brown text-center md:max-w-lg max-w-[85vw] px-4 text-xs xs:text-sm md:text-lg leading-[135%] mt-4 text-balance;
            }

            .hero-button {
                @apply md:mt-16 mt-8 text-dark-brown bg-light-brown uppercase font-bold text-lg rounded-full md:p-5 p-3 md:px-16 px-10;
            }
        }
    }


    .message-content {
        @apply bg-red text-milk min-h-dvh overflow-hidden flex justify-center items-center relative z-20;

        .msg-wrapper {
            @apply 2xl:text-[8.5rem] md:text-[96px] text-[2rem] xs:text-[2.5rem] sm:text-4xl font-bold uppercase md:leading-[9vw] leading-[1.2] tracking-[-.35vw] flex flex-col justify-center items-center md:gap-6 gap-4 w-full px-4;

            h1:first-of-type {
                @apply 2xl:max-w-4xl md:w-[90%] text-center text-[#faeade10];
            }

            h1:last-of-type {
                @apply 2xl:max-w-7xl md:max-w-4xl max-w-xs text-center text-[#faeade10];
            }
        }

        p {
            @apply text-center font-paragraph;
        }

        h1,
        h2 {
            @apply leading-none;
        }

        .msg-text-scroll {
            clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
        }

        .msg-text-scroll {
            @apply rotate-[3deg] relative z-10 border-[.5vw] border-red self-center;
        }
    }

    .flavor-section {
        @apply min-h-full lg:p-0 pb-20 m-0 bg-milk;

        .flavor-text-scroll {
            clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
        }

        .flavor-text-scroll {
            @apply rotate-[-3deg] md:translate-y-5 border-[.5vw] border-milk absolute z-10;
        }

        .first-text-split h1 {
            @apply md:text-center text-dark-brown;
        }

        .second-text-split h1 {
            @apply md:text-center;
        }

        .slider-wrapper {
            /* @apply lg:h-dvh min-h-dvh md:min-h-fit w-full mt-0 xl:mt-0; */

            .flavors {
                /* @apply h-full w-full flex md:flex-row flex-col items-center 2xl:gap-72 lg:gap-52 md:gap-24 gap-7 flex-nowrap; */

                .drinks {
                    @apply absolute left-1/2 -translate-x-1/2 bottom-0 md:h-full h-80;
                }

                .elements {
                    @apply absolute md:top-0 md:bottom-auto bottom-10 w-full;
                }

                h1 {
                    @apply absolute md:bottom-10 md:left-10 bottom-5 left-5 text-milk md:text-4xl text-3xl font-semibold uppercase tracking-tighter drop-shadow-[0_2px_8px_rgba(0,0,0,0.65)];
                }
            }
        }
    }

    .nutrition-section {
        @apply md:min-h-[120vh] min-h-dvh 2xl:h-[120dvh] overflow-hidden relative z-10;

        .big-img {
            @apply w-full absolute 2xl:h-full md:h-auto h-1/2 left-0 bottom-0 object-bottom 2xl:object-contain object-cover;
        }

        .nutrition-title {
            @apply 2xl:max-w-4xl xl:max-w-2xl md:py-0 py-3 md:pb-5 pb-0 lg:pb-0 md:text-center text-dark-brown;
        }

        .nutrition-text-scroll {
            clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
        }

        .nutrition-text-scroll {
            @apply rotate-[-3deg] border-[.5vw] border-mid-brown text-nowrap relative z-0;
        }

        .nutrition-box {
            @apply absolute md:bottom-16 bottom-4 left-1/2 -translate-x-1/2 md:w-[80%] w-full md:h-auto md:px-5 px-2;

            .list-wrapper {
                @apply bg-milk rounded-3xl md:rounded-full border-4 md:border-[.4vw] border-mid-brown mx-auto max-w-5xl py-4 md:py-5 px-5 md:px-8 flex flex-col md:flex-row justify-between items-stretch md:items-center;

                p {
                    @apply text-dark-brown;
                }
            }
        }
    }

    .benefit-section {
        @apply min-h-dvh bg-black overflow-hidden relative;

        p {
            @apply text-milk font-paragraph text-center text-lg;
        }

        .first-title {
            @apply rotate-[3deg] relative z-10;
        }

        .second-title {
            @apply rotate-[-1deg] md:-translate-y-5;
        }

        .third-title {
            @apply rotate-[1deg] md:-translate-y-12 relative z-10;
        }

        .fourth-title {
            @apply rotate-[-5deg] md:-translate-y-12;
        }

        .vd-pin {
            .play-btn {
                @apply absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] size-[9vw] flex justify-center items-center bg-[#ffffff1a] backdrop-blur-xl rounded-full;
            }

            img:first-of-type {
                @apply size-[15vw];
            }
        }
    }

    .bottom-banner {
        .rolling-animation {
            clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
        }
    }

    .testimonials-section {
        @apply bg-milk relative w-full lg:h-[130vh] h-[110vh];

        .pin-box {
            @apply flex items-center justify-center md:gap-12 w-full ps-52 absolute 2xl:bottom-32 md:top-0 top-20 bottom-[5vh];

            .vd-card {
                @apply md:w-70 w-65 flex-none md:rounded-[2vw] rounded-3xl -ms-44 overflow-hidden md:relative absolute border-[.5vw] border-milk;
            }
        }

        h1 {
            @apply uppercase text-[20.5vw] leading-[105%] tracking-[-.4vw] ml-[2vw] font-bold;
        }
    }

    .footer-section {
        @apply 2xl:min-h-dvh overflow-hidden relative bg-black;

        .social-btn {
            @apply border border-milk/20 md:size-[5vw] size-14 md:p-0 p-3 flex justify-center items-center rounded-full hover:bg-[#ffffff1a] transition-colors cursor-pointer;
        }

        input {
            @apply 2xl:text-4xl md:text-3xl text-2xl placeholder:font-bold placeholder:tracking-tighter;
        }

        .copyright-box {
            @apply 2xl:absolute w-full md:px-7 px-5 py-5 bottom-0 text-milk opacity-50 md:text-sm font-paragraph flex gap-7 md:flex-row flex-col-reverse md:justify-between justify-center items-center;

            p {
                @apply text-center;
            }
        }
    }
}

.nutrition-section {
    background-color: #faeade00;
    background-image: radial-gradient(circle, #f2f1ed, #b38f6f);
}

.spin-circle {
    animation: spin 20s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}